<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../day10_vue/js/vuejs-2.5.16.js"></script>
    <script src="../day10_vue/js/axios-0.18.0.js"></script>


</head>
<body>
<center id="app">
    <h1>用户注册</h1>
    <form style="align: center">
        账号: <input type="text" v-model="user.username"><br>
        密码:<input type="password" v-model="user.password"><br>
        邮箱:<input type="text" v-model="user.email"value="zhang_kangmu@163.com"><br>
        姓名:<input type="radio" name="gender" value="男" v-model="user.sex">男
        <input type="radio" name="gender" value="女" v-model="user.sex">女<br>
        <input type="button" value="注册" @click="register"><br>
    </form>
    {{user}}
    <br>
    zhang_kangmu@163.com
</center>
<script>
    new Vue({
        el: "#app",
        data: {
            user: {}
        },
        methods: {
            register: function () {
                axios.post("../day09/caseRegisterUserServlet?action=register", this.user).then(response =>{
                    alert(response.data);
                    if (response.data.flag) {
                        alert(response.data.message);
                    } else {
                        alert(response.data.message);
                    }
                });
            }
        }
    });
</script>
</body>
</html>